<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="X-Frame-Options" value="DENY" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="按ID请求" stopProcessing="true">
                    <match url="^i/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?key=ID&amp;value={R:1}" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="按keyword请求" stopProcessing="true">
                    <match url="^[a-zA-Z0-9]{1,5}$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?key=keyword&amp;value={R:0}" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
